{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h3>Nieuwe Gebruiker<h3>
</div>
<div class="panel-body">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.roles) }}
    
<input class="btn btn-default" type="submit" value="Gebruiker aanmaken">
{{ form_end(form) }}
</div>
</div>
{% endblock %}
